// Colors
$enable-shadows: true;
$primary: #8B5CF6;
$secondary: #343a40;
$border-color: #343a40; // gray-800
$enable-dark-mode: true;

// Dropdown related
$dropdown-bg: #2C3136; // #212529;
$dropdown-link-color: #ffffff80;
$dropdown-link-hover-color: #8B5CF6;
$dropdown-link-hover-bg: #434A50;
$dropdown-link-active-color: #8B5CF6;
$dropdown-link-active-bg: #434A50;

// Typography
$font-size-base: 0.95rem;

// force dark mode
$body-color: #adb5bd;
$body-color-rgb: 173, 181, 189;
$body-bg: #212529;
$body-bg-rgb: 33, 37, 41;
$emphasis-color: #fff;
$emphasis-color-rgb: 255, 255, 255;
$secondary-color: rgba(173, 181, 189, 0.75);
$secondary-color-rgb: 173, 181, 189;
$secondary-bg: #343a40;
$secondary-bg-rgb: 52, 58, 64;
$tertiary-color: rgba(173, 181, 189, 0.5);
$tertiary-color-rgb: 173, 181, 189;
$tertiary-bg: #2b3035;
$tertiary-bg-rgb: 43, 48, 53;
// $primary-text-emphasis: #6ea8fe;
$secondary-text-emphasis: #a7acb1;
$success-text-emphasis: #75b798;
$info-text-emphasis: #6edff6;
$warning-text-emphasis: #ffda6a;
$danger-text-emphasis: #ea868f;
$light-text-emphasis: #f8f9fa;
$dark-text-emphasis: #dee2e6;
// $primary-bg-subtle: #031633;
$secondary-bg-subtle: #161719;
$success-bg-subtle: #051b11;
$info-bg-subtle: #032830;
$warning-bg-subtle: #332701;
$danger-bg-subtle: #2c0b0e;
$light-bg-subtle: #343a40;
$dark-bg-subtle: #1a1d20;
// $primary-border-subtle: #084298;
$secondary-border-subtle: #41464b;
$success-border-subtle: #0f5132;
$info-border-subtle: #087990;
$warning-border-subtle: #997404;
$danger-border-subtle: #842029;
$light-border-subtle: #495057;
$dark-border-subtle: #343a40;
$link-color: #6ea8fe;
$link-hover-color: #8bb9fe;
$link-color-rgb: 110, 168, 254;
$link-hover-color-rgb: 139, 185, 254;
$code-color: #e685b5;
$border-color: #495057;
$border-color-translucent: rgba(255, 255, 255, 0.15);
$form-valid-color: #75b798;
$form-valid-border-color: #75b798;
$form-invalid-color: #ea868f;
$form-invalid-border-color: #ea868f;

:root {
    // TODO: check all to remove unused
    --bs-secondary-bg: #343a40 !important;
    --bs-secondary-bg-rgb: 52, 58, 64 !important;
}