// Colors
$enable-shadows: true;
$primary: #8B5CF6;
$border-color: #343a40; // gray-800

// Dropdown related
$dropdown-bg: #2C3136; // #212529;
$dropdown-link-color: #ffffff80;
$dropdown-link-hover-color: #8B5CF6;
$dropdown-link-hover-bg: #434A50;
$dropdown-link-active-color: #8B5CF6;
$dropdown-link-active-bg: #434A50;